APP_DEBUG = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = sqlite
DATABASE = runtime/database.db
PREFIX = cms_
DEBUG = false

[LANG]
default_lang = zh-cn

[SESSION]
NAME = CMSSESSID
EXPIRE = 7200

[CACHE]
DRIVER = file
